/* Shared styles for common elements */
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}


/* Color helpers */
.has-background-light {
  background: #f5f4f2;
}

.has-background-light-accent {
  background: #86a9c0;
}

.has-background-primary {
  background: #6a5acd;
}

.has-background-dark-accent {
  background: #6b73c1;
}

.has-background-dark {
  background: #262d47;
}

.has-text-light {
  color: #f5f4f2;
}

.has-background-light-accent {
  color: #86a9c0;
}

.has-text-primary {
  color: #6a5acd;
}

.has-background-dark-accent {
  color: #6b73c1;
}

.has-text-dark {
  color: #262d47;
}


/* margin and padding helpers */
.p-x {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-x {
  margin-right: 2rem;
  margin-left: 2rem;
}

.m-y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* Flexbox helpers */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}


/* Shared elements for all pages */
.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  line-height: 80px;
}

.logo {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  color: #f5f4f2;
  margin-left: 1rem;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  padding: 0 1rem;
  color: #f5f4f2;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s;
}

.links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header {
  height: 80px;
  position: sticky;
  top: 0;
}

.footer {
  grid-area: footer;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
}
