/* Shared styles for common elements */
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Navbar specific styles */

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  line-height: 80px;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  padding: 0 1rem;
  color: #f5f4f2;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s;
}

.links a:hover {
    background-color: rgba(255,255,255,0.3)
}

/* Color helpers */

.has-background-light {
  background: #f5f4f2;
}

.has-background-light-accent {
  background: #86a9c0;
}

.has-background-primary {
  background: #6a5acd;
}

.has-background-dark-accent {
  background: #6b73c1;
}

.has-background-dark {
  background: #262d47;
}

.has-text-light {
  color: #f5f4f2;
}

.has-background-light-accent {
  color: #86a9c0;
}

.has-text-primary {
  color: #6a5acd;
}

.has-background-dark-accent {
  color: #6b73c1;
}

.has-text-dark {
  color: #262d47;
}

/* Margin, padding classes */

.padded {
  padding: 0 2rem;
}
