@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap);
@import url(https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh);


/* Root element font size */
html {
  font-size: 14px;
}



/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  font-weight: 400;
}

h1,
h2 {
  color: #262d47;
  font-family: "Bebas Neue", cursive;
}

h3 {
  color: #86a9cd;
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}


/* Other text element styles */
p,
span {
  font-family: "Lato", sans-serif;
}

blockquote {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
}
blockquote::before,
blockquote::after {
  content: '"';
}


/* Link and Button Styling */
a {
  text-decoration: none;
}

.btn {
  font-family: "Bebas Neue", cursive;
  color: slateblue;
  background: rgba(255, 255, 255, 0);
  border: 1px solid slateblue;
  padding: 1rem;
  display: inline-block;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  font-size: 1.25rem;
}

.btn.has-text-light {
  border: 1px solid #f5f4f2;
  color: #f5f4f2;
}

.btn.has-background-dark-accent:hover {
  background: #f5f4f2;
  color: #6b73c1;
  border-left-color: #6b73c1;
}

.btn.has-background-light-accent:hover {
  background: #f5f4f2;
  color: #86a9c0;
}

.btn:hover {
  background: #6b73c1;
  color: #f5f4f2;
  cursor: pointer;
}


/* Alignment Helper */
.has-text-centered {
  text-align: center;
}
