/* Grid set up */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "spotlight"
    "recent"
    "sharing"
    "footer";
  width: 100%;
}

/* Sub-sections set up*/
.spotlight {
  grid-area: spotlight;
}

.recent-posts {
  grid-area: recent;
}

.recent-grid {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}

.subscribe {
  justify-content: space-evenly;
}

.sharing {
    grid-area: sharing;
}

.sharing-grid{
  display: grid;
  grid-gap: 10px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Tablet/Small computer styling */

@media (min-width: 901px) {
  .sharing-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .recent-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

/* Larger desktop styling */
@media (min-width: 1600px) {

  .recent-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}