.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "spotlight"
    "recent"
    "subscribe"
    "social"
    "footer";
  width: 100%;
}

.header {
  grid-area: header;
  height: 80px;
}

.spotlight {
  grid-area: spotlight;
  height: calc(60vh - 80px);
}

.recent-posts {
  grid-area: recent;
  display: flex;
  flex-direction: column;
}

.subscribe {
  grid-area: subscribe;
}

.social {
    grid-area: social;
    display: flex;
    flex-direction: column;
}

.footer {
  grid-area: footer;
  height: 150px;
}

@media (min-width: 901px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "spotlight spotlight spotlight spotlight"
      "recent recent recent recent"
      "subscribe subscribe social social"
      "footer footer footer footer";
  }

  .recent-posts {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  .recent-posts .card {
      width: 45%;
  }


}
