/* Grid set up */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "post"
    "author"
    "footer";
  width: 100%;
  grid-gap: 10px;
  justify-items: center;
}

.post {
  grid-area: post;
  max-width: 1200px;
}

.about-author {
  grid-area: author;
  max-width: 1200px;
}


/* Author card styles */
.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  background-size: cover;
  background-position: center center;
  background-image: url("https://placekitten.com/100/100");
}

.author-info {
  flex-direction: row;
  width: 100%;
}

.author-name-container {
  padding: 0 2rem;
}

.share {
  width: 100%;
}

.social a,
.author-social a {
  margin: 0 0.5rem;
  width: 3em;
  height: 3em;
  text-align: center;
}

.author-social {
  text-align: center;
}


/* Above Mobile styles */
@media (min-width: 901px) {
  .about-author {
    flex-direction: row !important;
  }

  .author-info {
    flex-direction: column;
    flex-shrink: 0;
    width: auto;
  }

  .author-social {
    text-align: left;
  }

  .author-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
